<option value="">Please choose an option</option>
<option value="vGood">Very Good</option>
<option value="good">Good</option>
<option value="norm">Normal</option>
<option value="poor">Poor</option>
<option value="vPoor">Very Poor</option>
