<div class="padding">
  <label for="name">Name</label>
  <input class="form-control" type="text" name="name" pattern="[A-Za-z' .]{1,32}" autocomplete="off" placeholder="Leave Empty For Anonymous Name">
</div>

<div class="padding">
  <label for="company">Company</label>
  <input class="form-control" type="text" name="company" pattern="[A-Za-z0-9' .]{1,32}" autocomplete="off" placeholder="Leave Empty For Anonymous Company">
</div>
