<%- include("partials/header") -%>

<div class="post">
  <h1>Feedback form</h1>
  <form action="/feedback" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" type="text" name="name" autocomplete="off" placeholder="Leave Empty For Annonymous Feedback">
      <label for="comapny">Company</label>
      <input class="form-control" type="text" name="company" autocomplete="off" placeholder="Leave Empty For Annonymous Feedback">
      <label for="feedback">Feedback</label>
      <textarea class="form-control" name="feedback" rows="8" cols="80"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Send Feedback</button>
    <a href="/" role="button">Go Back</a>
  </form>

</div>

<%- include("partials/footer") -%>
