<%- include("partials/header") -%>

<div class="centered">
  <div class="container">
    <font size="8">💬</font>
    <h1 class="display-5">Welcome to the feedback app!</h1>
    <p class="lead">In this app you can leave me a feedback on how the interview go! <br>
      You can select from taking a short survey (aprox. 3 minutes) or writing a feedback in a single message form.
    </p>
    <hr class="my-4">
    <p class="lead">To start please click the button below.</p>
    <a class="btn btn-dark btn-lg" href="/feedback" role="button">Start</a>
  </div>
</div>

<!-- src="https://code.jquery.com/jquery-3.4.1.min.js" -->

<%- include("partials/footer") -%>
