<%- include("partials/header") -%>

<div class="wrapper fadeInDown">
  <div class="formContent">
    <form action="/login" method="post">
      <h4 class="login">Welcome Back</h4>
      <div class="question">
        <input type="text" name="username" class="form-control" value="" placeholder="Username">
      </div>
      <div class="question">
        <input type="password" name="password" class="form-control" value="" placeholder="Password">
      </div>
      <button class="btn btn-light" type="submit" name="button">Log In</button>
    </form>
  </div>
</div>
<%- include("partials/footer") -%>
