<%- include("partials/header") -%>

<div class="wrapper fadeInDown">
  <div class="formContent">
    <form action="/login" method="post">
      <input type="text" name="username" value="" placeholder="Username">
      <input type="password" name="password" value="" placeholder="Password">
      <button class="btn btn-light" type="submit" name="button">Log In</button>
    </form>
  </div>
</div>
<%- include("partials/footer") -%>
