<%- include("partials/header") -%>

<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-5">Thank you for your feedback!</h1>
    <p class="lead"> The feedback has been sent.  </p>
    <hr class="my-4">
  </div>
</div>

<%- include("partials/footer") -%>
