<%- include("partials/header") -%>


  <div class="container centered footDown">
    <h1 class="display-5">Thank you for your feedback!</h1>
    <p class="lead"> I will look into it ASAP! </p>
    <hr class="my-4">
  </div>

<%- include("partials/footer") -%>
