<%- include("partials/header") -%>


  <div class="container centered thank">
    <h1 class="display-5">Thank you for your feedback!</h1>
    <p class="lead"> The feedback has been sent.  </p>
    <hr class="my-4">
  </div>

<%- include("partials/footer") -%>
